@import url('https://fonts.googleleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'source Sans Pro', sans-serif;
}

html {
min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color:#163D57
}

svg{
    background-color:#163D57 ;
    /* box-shaddow: 0px 3px 15px rgba(0, 0, 0, 0, 2) */
    /* border-radius:5px */
    padding:10px
}

#canvas{
    min-height: 600px;
    min-width: 1200px;
}

.cell:hover{
    color: black;
}

g{
    color: #E0E3F0;
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: #163D57;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend{
    color: rgb(56, 58, 74);
    font-size: 18px;
}
